.buttonMODIFY{
    left: 70px;
    top: 1520px;
    background: rgba(102,140,74,1);
}
#_34 {
    fill: rgba(177,177,172,1);
}
._34 {
    position: absolute;
    overflow: visible;
    width: 174px;
    height: 174px;
    left: 567px;
    top: 718px;
}
#_36 {
    fill: rgba(177,177,172,1);
}
._36 {
    position: absolute;
    overflow: visible;
    width: 174px;
    height: 174px;
    left: 761px;
    top: 718px;
}
#_37 {
    fill: rgba(177,177,172,1);
}
._37 {
    position: absolute;
    overflow: visible;
    width: 174px;
    height: 174px;
    left: 955px;
    top: 718px;
}
#_7 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
._7 {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    transform: matrix(1,0,0,1,710.0003,725.0004) rotate(-45deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#_9 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
._9 {
    overflow: visible;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1030px;
    top: 793px;
    transform: matrix(1,0,0,1,0,0);
}
#_10 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
._10 {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    transform: matrix(1,0,0,1,904.0291,725.0004) rotate(-45deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}